In [1]:
import pandas as pd

In [3]:
!unzip -qq "분양.zip"

분양권 바꾸기.html:  mismatching "local" filename (ы╢ДьЦСъ╢М ы░Фъ╛╕ъ╕░.html),
         continuing with "central" filename version

In [4]:
df = pd.read_csv("df_seoul.csv")
df

                 시군구     번지        단지명   전용면적(㎡)  ... 계약일  분/입구분  해제사유발생일  지역
0      서울특별시 강남구 개포동    138  디에이치 아너힐즈  114.2062  ...  12      입      NaN  서울
1      서울특별시 강남구 개포동    138  디에이치 아너힐즈  114.2062  ...  23      입      NaN  서울
2      서울특별시 강남구 개포동    138  디에이치 아너힐즈  103.5749  ...   6      입      NaN  서울
3      서울특별시 강남구 개포동    138  디에이치 아너힐즈  103.5749  ...  10      입      NaN  서울
4      서울특별시 강남구 개포동    138  디에이치 아너힐즈   84.3558  ...  24      입      NaN  서울
...              ...    ...        ...       ...  ...  ..    ...      ...  ..
18243   서울특별시 중랑구 묵동  81-17  ｅ편한세상 화랑대   59.9530  ...   1      입      NaN  서울
18244   서울특별시 중랑구 묵동  81-17  ｅ편한세상 화랑대   84.8340  ...  10      분      NaN  서울
18245   서울특별시 중랑구 묵동  81-17  ｅ편한세상 화랑대   96.3990  ...  16      분      NaN  서울
18246   서울특별시 중랑구 묵동  81-17  ｅ편한세상 화랑대   84.9020  ...  25      분      NaN  서울
18247  서울특별시 중랑구 상봉동    113      상봉어반뷰   13.2600  ...  12      분      NaN  서울

[18248 rows x 11 columns]

In [95]:
df.번지.unique()

array(['138', '140', '1029', '633', '894', '893-2', '538-3', '538', '22',
       '541', '537', '709', '711-3', '513', '689-1', '67', '693', '688',
       '670', '164', '547-1', '447-17', '448', '1', '48-8', '730-640',
       '730-327', '730-354', '730-149', '746', '725-1', '748', '277-24',
       '1165', '1544-1', '122-2', '859', '468-1', '1147', '448-1',
       '441-14', '670-7', '670-20', '1322', '531', '672', '178', '494-1',
       '1014', '98', '463-2', '530-15', '1009', '104-27', '373-3',
       '597-11', '695', '267-61', '128-12', '394-15', '1159', '197',
       '903', '535', '536', '363-164', '900', '232-55', '158-1', '445-1',
       '476', '12', '458-16', '172', '93-102', '800', '611-6', '85-17',
       '662', '45', '508', '385-1', '108', '369-10', '124', '105-37',
       '149', '174', '1017', '450-1', '19-19', '451-13', '473', '1341',
       '1342', '02월 01일', '1331-1', '1332-13', '1501-1', '1490-5',
       '1311-10', '158', '160', '159', '280', '1553', '12-37', '811',
       '718', '528', '999', '1070', '1002', '339-67', '700', '100', '498',
       '643', '644', '15', '458', '144-24', '290-9', '192', '479', '618',
       '24-3', '895', '883', '884', '897', '896', '388-7', '632-1', '551',
       '1323', '929-56', '13', '2039', '4945', '347-50', '203', '41',
       '342', '391', '728-4', '93', '117-1', '19', '281', '53', '550',
       '645', '372', '766', '620-1', '66-13', '60', '84', '81', 'BL 25',
       '60-19', '65', 'Jan-62', 'BL-3', '65-4', '10', '176-1', '217',
       '140-23', '13-1', '81-17', '501', '709-5', '67-1', '309-1', '131',
       '515', '134', '606', '571', '4', '3-770', '461', '747', '746-1',
       '741', '902', '821-1', '1095', '1553-1', '865-6', '244-5', '116-2',
       '208-3', '143-6', '143-20', '1007-13', '1150', '670-6', '950',
       '951', '717-2', '636', '530-4', '1008', '291-1', '375', '385-65',
       '490', '173', '802', '780', '27-19', '387', '1013', '464',
       '866-10', '3278', '917-4', '1498-5', '528-1', '1071', '58-56',
       '319', '173-114', '230', '234', '51', '135', '972-2', '4950',
       '1583-1', '337-246', '240-16', '94-129', '420', '63-70', '361-10',
       '36', '419', '455-25', '764', '27', '25', '107', '105', '88',
       '154', '155', '94', '92', '6', '88-13', '16-29', '64', '199',
       '233', '126', '46', '856', 'Feb-79', '8', '171-7', '164-10',
       '520-19', '113'], dtype=object)

In [ ]:
df[df.번지=='Feb-79']
df[df.번지=='BL-4']
df[df.번지=='BL-3']
df[df.번지=='Jan-62']
df[df.번지=='BL 25']
df[df.번지=='02월 01일']

In [91]:
df.replace({'번지':'Oct-85'},{'번지':'856'}, inplace=True)
df.replace({'번지':'Feb-65'},{'번지':'65-4'}, inplace=True)
df.replace({'번지':'BL-4'},{'번지':'65-4'}, inplace=True)
df.replace({'번지':'BL 84'},{'번지':'84'}, inplace=True)
df.replace({'번지':'BL-1'},{'번지':'60'}, inplace=True)
df.replace({'번지':'Jan-41'},{'번지':'41'}, inplace=True)
df.replace({'번지':'BL-C1-6'},{'번지':'896'}, inplace=True)
df.replace({'번지':'03월 24일'},{'번지':'24-3'}, inplace=True)
df.replace({'번지':'가-883'},{'번지':'883'}, inplace=True)  # 송파힐스테이트(C1-1) -> 힐스테이트송파위례
df.replace({'번지':'07월 13일'},{'번지':'643'}, inplace=True) # 금호어울림 -> 길음역금호어울림센터힐
df.replace({'번지':'Aug-64'},{'번지':'159'}, inplace=True)  # 아크로 리버뷰 -> 아크로리버뷰신반포
df.replace({'번지':'May-32'},{'번지':'1341'}, inplace=True)
df.replace({'번지':'Jan-36'},{'번지':'903'}, inplace=True)
df.replace({'번지':'Aug-48'},{'번지':'48-8'}, inplace=True) # 수유 프리미어엠 주상복합 도시형생활주택 -> 수유프리미어엠 (전용면적 23.40 이하)
df.replace({'번지':'Jan-70'},{'번지':'1165'}, inplace=True) # 강서힐스테이트(화곡3주구) -> 강서힐스테이트
df.replace({'번지':'BL-13'},{'번지':'748'}, inplace=True) # 마곡힐스테이트마스터(13단지) -> 마곡13단지힐스테이트마스터
df.replace({'번지':'Jan-91'},{'번지':'508'}, inplace=True)  # e편한세상마포3차 -> e편한세상마포리버파크
df.replace({'번지':'Jan-56'},{'번지':'1553'}, inplace=True) # 힐스테이트 금호 -> 힐스테이트서울숲리버
df.replace({'번지':'BL-1-5'},{'번지':'897'}, inplace=True)  # 위례중앙푸르지오1단지 (BL5) -> 위례중앙푸르지오1단지 (16년 데이터만 존재)
df.replace({'번지':'19-190'},{'번지':'372'}, inplace=True)  # 은평 신사 효성해링턴 플레이스 -> 응암역효성해링턴플레이스

In [92]:
df[df.번지=='19-190']

Empty DataFrame
Columns: [시군구, 번지, 단지명, 전용면적(㎡), 거래금액(만원), 층, 계약년월, 계약일, 분/입구분, 해제사유발생일, 지역]
Index: []

In [94]:
pd.set_option('display.max_rows', None)