### 변수
- 값 하나를 저장하고 저장된 값을 가져다 사용할 수 있도록 제공되는 요소
- 메모리에 기억장소가 마련되고 데이터를 저장한다.

In [1]:
a1 = 100
a2 = 11.11
a3 = True
a4 = '문자열'
a5 = 10 +3j
a6 = 1_000_000_000

print(a1)
print(a2)
print(a3)
print(a4)
print(a5)
print(a6)

100
11.11
True
문자열
(10+3j)
1000000000

### 튜플
- 인덱스 번호(0부터 시작)를 통해 데이터를 관리한다. 
- 읽기 전용
- 리스트에 비해 속도가 빠르고 메모리 사용량이 적다.

In [2]:
# 튜플생성
t1 = tuple()
t2 = ()
t3 = (10, 20, 30, 40, 50)
t4 = 10, 20, 30, 40, 50

print(t1)
print(t2)
print(t3)
print(t4)

()
()
(10, 20, 30, 40, 50)
(10, 20, 30, 40, 50)

In [7]:
# 언패킹
# 튜플이나 리스트가 가지고 있는 값의 수 만큼 변수를 작성해주면
# 1:1 대응되서 값이 들어간다. 
a1, a2, a3, a4, a5 = t4
print(a1)
print(a2)
print(a3)
print(a4)
print(a5)

10
20
30
40
50

In [8]:
def test1(a1, a2):
    r1 = a1 + a2
    r2 = a1 - a2
    r3 = a1 * a2
    r4 = a1 // a2
    
    return r1, r2, r3, r4

In [9]:
v1, v2, v3, v4 = test1(10, 3)
print(v1)
print(v2)
print(v3)
print(v4)

13
7
30
3

In [10]:
t1 = 10, 20, 30, 40, 50, 60, 70, 80, 90, 100

In [11]:
# indexing, 원하는 데이터 하나를 가져오는 것
# 0부터 1씩 증가하는 index를 사용한다. 
print(t1[0])
print(t1[1])
print(t1[-1])
print(t1[-2])

10
20
100
90

In [13]:
# slicing, 원하는 범위에 해당하는 값을 추출하여 새로운 요소를 생성해서 반환한다.
# 2~5 - 1
print(t1[2:5])

(30, 40, 50)

### 리스트
- 기본적으로는 튜플과 동일하다. 
- 추가, 수정, 삭제 등이 가능하다.

In [14]:
list1 = [10, 20, 30, 40, 50]

In [15]:
# 추가
print(list1)

list1.append(60)
list1.append(70)

print(list1)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 60, 70]

In [16]:
# 다수의 값을 동시에 추가하기 
print(list1)

list1.extend([80, 90, 100])

print(list1)

[10, 20, 30, 40, 50, 60, 70]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [17]:
# 삽입
print(list1)

# 삽입할 위치, 삽입할 값
list1.insert(4, 41)

print(list1)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[10, 20, 30, 40, 41, 50, 60, 70, 80, 90, 100]

In [18]:
# 삭제, 인덱스를 통한 삭제
print(list1)

del list1[4]

print(list1)

[10, 20, 30, 40, 41, 50, 60, 70, 80, 90, 100]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [19]:
# 삭제, 값을 통한 삭제
# 동일한 값이 있을 경우에는 제일 좌측의 값이 삭제된다. 
print(list1)

list1.remove(70)

print(list1)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[10, 20, 30, 40, 50, 60, 80, 90, 100]

### 딕셔너리
- 데이터를 이름을 가지고 관리한다. 
- 추가, 수정, 삭제 등이 가능하다.

In [20]:
d1 = {
    'a1' : 100,
    'a2' : 200,
    10 : '안녕하세요'
}

In [21]:
print(d1['a1'])
print(d1['a2'])
print(d1[10])

100
200
안녕하세요